*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}
html{

    font-size: 10px;
}
/*body{
    background-color: red;
}*/
.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(img/tahu.jpg);
    background-size: cover;
    background-position:center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 0;
}
.logo{
width:12rem ;
cursor: pointer;
}
.cart-icons {
    width: 3rem;
    cursor: pointer;
    
}

nav ul{
    flex:1;
    text-align: right;
    padding-right: 3rem;
}
nav ul li{
  display:inline-block;
  list-style: none;
margin: 1rem 3rem;

}
nav ul li a{
    color: white;
    text-decoration: none ;
    position: relative;
    font-family:serif;
    font-size: 1.5rem;

}
nav ul li a:hover{
    background-color: yellow;
    color: black;
    padding: .5rem;
    margin: auto;
}
/*nav ul li a::after{
    content: '';
    width: 50%;
    height: .3rem;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
   transition:5s left;
}
nav ul li a:hover::after{
    width: 50%;
} */
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 5rem;
    font-weight: 600;
}
.text-box h1{
    font-size: 19rem;
    line-height: 16rem;
    margin-left: -1rem;
    color: transparent;
    -webkit-text-stroke: .1rem #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 200rem 0;
    }
}

.text-box h3{
    font-size: 4rem;
    font-weight: 500;

}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  
}
.text-box a{
    color: #fff;
    text-decoration: none ;
    padding: 1rem 2rem ;
    margin-right: 2rem;
   border: .2rem solid #fff ;
   display: flex;
   align-items: center;
     font-family: 'Playfair Display',
     serif;
     font-size: 10px;
}
.text-box a:hover{
    background-color: black;
    color: red;
}
.text-box a span{
    font-size: 3rem ;
    line-height: 1.5rem ;
    margin-left:1rem ;
}
.social-icons {
    position: absolute;
    right: 5%;
    bottom:8%;
    cursor: pointer;
}
.social-icons img{
    width: 2.5rem;
    margin: 2.5rem .5rem;
    display: block;

}
.span{
    width: 550px;
    position: absolute;
    right: 8%;
    bottom: 0;
}
.spancolor {
    color: yellow;
}
