*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("tahu.jpg");
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.login-form{
    position: relative;
    top: 150px;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}
.myform h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.myform input{
    height: 30px;
    width: 300px;
    margin-top: 30px;
    padding: 10px;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
  
}
.myform .login-btn{
    height: 30px;
    width: 300px;
    margin-top: 40px;
    text-align: center;
    background-image: linear-gradient(to right, red,rgb(207, 41, 158));
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.myform .login-btn:hover{
    transform: scale(1.05);
}
.myform a{
    text-decoration: none;
    margin-top: 30px;
    color: white;
    
}


 /* customize placeholder text */
::-webkit-input-placeholder { 
    color:    rgb(255, 255, 255);
    font-size:16px;
}